body {
  font-family: "Nunito", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 140px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
button{
 border: 2px solid #066F14;
 padding: 10px 20px;
 border-radius: 4px;
 background-color: #066F14;
 color: #fff;
 transition: 0.2s linear;
}
.authBtns{
    display: flex;
    gap: 20px;
}
button:hover{
    background: #fff;
    
    color: #066F14;
}
#LoginBtn{
    background-color: #fff;
    border: 2px solid #fff;
    color: #066F14;
}
#LoginBtn:hover{
    border: 2px solid #066F14;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px;
}
.header-h1{
    font-size: 70px
}
.bottom{
  padding: 10px 140px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: max-content;
  height: max-content;
  gap: 250px;

}
.info{
  width: max-content;
  height: max-content;
  padding: 10px 140px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: max-content;
  height: max-content;
  gap: 279px;

}
.Lorem{
  position: relative;
  left: 250px;
  top: 0px;
}
.knop{
  border: 2px solid #066F14;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #066F14;
  color: #fff;
  position: relative;
  left: 300px;
}